# Example environment variables for overhaul-fe

# Backend API URL
NEXT_PUBLIC_API_BASE=https://api-dev.overhaul.sourceadvisors.com
# "DEV", "UAT", or "PROD"
NEXT_PUBLIC_ENV_LABEL=DEV   
NEXT_PUBLIC_INTERNAL_DOMAINS=sourceadvisors.com,sourceadvisors.co.uk

# Add other environment variables below as needed
# NEXT_PUBLIC_API_KEY=your-api-key-here
# NEXT_PUBLIC_ANALYTICS_ID=your-analytics-id-here